<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
      Digital Experience - Design System
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="../assets/css/material-dashboard.css?v=2.1.1" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../assets/demo/demo.css" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="azure" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
    <div class="logo">
        <a href="../index.html" class="simple-text logo-mini">
          <img src="../assets/img/bcbsnc-mobile-logo-2x.png">
        </a>
        <a href="../index.html" class="simple-text logo-normal">
          Digital Design System
        </a>
      </div>
       <!-- MAIN NAV -->
       <div class="sidebar-wrapper">
          <ul class="nav">
  
            <li class="nav-item ">
              <a class="nav-link" href="../index.html">
                <i class="material-icons">dashboard</i>
                <p>Dashboard</p>
              </a>
            </li>
  
            <br />
            <div class="nav-section-header">
              <h4 class="nav-section-header-text">Guidelines
                <hr />
              </h4>
            </div>
  
            <li class="nav-item  ">
              <a class="nav-link" href="accessibility.html">
                <i class="material-icons">accessibility</i>
                <p>Accessibility</p>
              </a>
            </li>
            <li class="nav-item active ">
              <a class="nav-link" href="colors.html">
                <i class="material-icons">color_lens</i>
                <p>Colors</p>
              </a>
            </li>
            <li class="nav-item  ">
              <a class="nav-link" href="content.html">
                <i class="material-icons">description</i>
                <p>Content</p>
              </a>
            </li>
            <li class="nav-item   ">
              <a class="nav-link" href="icons.html">
                <i class="material-icons">bubble_chart</i>
                <p>Icons</p>
              </a>
            </li>
            <li class="nav-item  ">
              <a class="nav-link" href="imagery.html">
                <i class="material-icons">collections</i>
                <p>Imagery</p>
              </a>
            </li>
            <li class="nav-item  ">
              <a class="nav-link" href="logos.html">
                <i class="material-icons">featured_video</i>
                <p>Logos</p>
              </a>
            </li>
            <li class="nav-item  ">
                <a class="nav-link" href="testing.html">
                  <i class="material-icons">verified_user</i>
                  <p>Testing</p>
                </a>
              </li>
            <li class="nav-item   ">
              <a class="nav-link" href="typography.html">
                <i class="material-icons">library_books</i>
                <p>Typography</p>
              </a>
            </li>
  
            <br />
            <div class="nav-section-header">
              <h4 class="nav-section-header-text">Components
                <hr />
              </h4>
            </div>
  
            <li class="nav-item   ">
              <a class="nav-link" href="buttons.html">
                <i class="material-icons">radio_button_checked</i>
                <p>Buttons </p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="cards.html">
                <i class="material-icons">view_quilt</i>
                <p>Cards</p>
              </a>
            </li>
            <li class="nav-item  ">
              <a class="nav-link" href="accordions.html">
                <i class="material-icons">expand_more</i>
                <p>Expansion Panels</p>
              </a>
            </li>
            <li class="nav-item  ">
                <a class="nav-link" href="footer.html">
                  <i class="material-icons">horizontal_split</i>
                  <p>Footer</p>
                </a>
              </li>
            <li class="nav-item  ">
              <a class="nav-link" href="forms.html">
                <i class="material-icons">format_align_center</i>
                <p>Forms</p>
              </a>
            </li>
            <li class="nav-item  ">
              <a class="nav-link" href="graphs.html">
                <i class="material-icons">insert_chart_outlined</i>
                <p>Graphs</p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="help.html">
                <i class="material-icons">help_outline</i>
                <p>Help</p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="heroes.html">
                <i class="material-icons">image</i>
                <p>Hero Banners</p>
              </a>
            </li>
            <li class="nav-item  ">
              <a class="nav-link" href="lists.html">
                <i class="material-icons">lists</i>
                <p>Lists</p>
              </a>
            </li>
            <li class="nav-item   ">
              <a class="nav-link" href="modals.html">
                <i class="material-icons">chrome_reader_mode</i>
                <p>Modals </p>
              </a>
            </li>
            <li class="nav-item  ">
              <a class="nav-link" href="navigation.html">
                <i class="material-icons">navigation</i>
                <p>Navigation</p>
              </a>
            </li>
            <li class="nav-item   ">
              <a class="nav-link" href="notifications.html">
                <i class="material-icons">notification_important</i>
                <p>Notifications</p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="progress-indicator.html">
                <i class="material-icons">skip_next</i>
                <p>Progress Indicators</p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="right-rail.html">
                <i class="material-icons" style="transform: rotate(270deg);">call_to_action</i>
                <p>Right Rail</p>
              </a>
            </li>
            <li class="nav-item  ">
              <a class="nav-link" href="search-filter.html">
                <i class="material-icons">search</i>
                <p>Search &amp; Filter</p>
              </a>
            </li>
            <li class="nav-item   ">
              <a class="nav-link" href="tables.html">
                <i class="material-icons">dashboard</i>
                <p>Tables</p>
              </a>
            </li>
            <li class="nav-item  ">
              <a class="nav-link" href="tabs.html">
                <i class="material-icons">tabs</i>
                <p>Tabs</p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="tiles.html">
                <i class="material-icons">crop_square</i>
                <p>Tiles</p>
              </a>
            </li>
  
  
            <br /><br /><br /><br />
            <!-- END MAIN NAV -->
            <!-- your sidebar here -->
          </ul>
        </div>
    <!-- END MAIN NAV -->
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="#pablo">Color Palette</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>

            <!-- SIDE NAV -->
          <div class="collapse navbar-collapse justify-content-end">
            <!-- <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="material-icons">layers</i> Design
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="material-icons">build</i> UX
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="material-icons">code</i> Dev
                </a>
              </li>
            </ul> -->
          </div>
          <!-- END SIDE NAV -->

        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">


                <div class="card">
                    <div class="card-header card-header-primary">
                      <h3 class="card-title">Brand</h3>
                      <p class="card-category">
                      </p>
                      </div>
      
                  <div class="card-body">
                    
                    <div class="row">
                        <div class="col-sm-4">
                          <h4>BLUES</h4>
                          <p>
                            <span style="color:#00aeef;" class="color-square"><i class="fa fa-square"></i></span> #00aeef - PMS Process Cyan (Primary)<br>
                            <span style="color:#0093d0;" class="color-square"><i class="fa fa-square"></i></span> #0093d0 - PMS Process Blue<br>
                            <span style="color:#005984;" class="color-square"><i class="fa fa-square"></i></span> #005984 - PMS 3025<br>
                            <span style="color:#003055;" class="color-square"><i class="fa fa-square"></i></span> #003055 - PMS 540<br>
                            <span style="color:#c2dbe8;" class="color-square"><i class="fa fa-square"></i></span> #c2dbe8 - PMS 552<br>
                            <span style="color:#A3BDCB;" class="color-square"><i class="fa fa-square"></i></span> #8cd2f4 - PMS 2905<br>
                          </p>
                        </div>
                        <div class="col-sm-4">
                          <h4>Tertiary Colors</h4>
                          <p>
                            <span style="color:#f1e5c7;" class="color-square"><i class="fa fa-square"></i></span> #f1e5c7 - PMS 4545<br>
                            <span style="color:#bb8d0b;" class="color-square"><i class="fa fa-square"></i></span> #bb8d0b - PMS 132<br>
                            <span style="color:#66513d;" class="color-square"><i class="fa fa-square"></i></span> #66513d - PMS 7532<br>
                            <span style="color:#4b7637;" class="color-square"><i class="fa fa-square"></i></span> #4b7637 - PMS 364<br>
                            <span style="color:#c0311a;" class="color-square"><i class="fa fa-square"></i></span> #c0311a - PMS 1805<br>
                            <span style="color:#f99f36;" class="color-square"><i class="fa fa-square"></i></span> #f99f36 - PMS 1495
      
                          </p>
      
                        </div>
                        <div class="col-sm-4">
                          <h4>Other</h4>
                          <p>
                            <span style="color:#ffffff;" class="color-square"><i class="fa fa-square"></i></span> #ffffff - White<br>
                            <span style="color:#231f20;" class="color-square"><i class="fa fa-square"></i></span> #231f20 - Black<br>
                          </p>
                        <p></p>
                      </div>
                      
                    </div>
                  <br/><br/>
                </div>
                </div>

              <br/><br/><br/>


              <div class="card">
                  <div class="card-header card-header-primary">
                    <h3 class="card-title">Web</h3>
                    <div class="row">
                      <div class="col-md-9">
                    <p class="card-category">Please note: the "$400" etc. references match up to developer classes in their .js files
                    </p>
                    </div>
                    
                    <div class="col-md-3">
                      <a class="btn btn-outline-card-header" href="../assets/downloads/bcbsnc-platform-assets.zip" target="_blank">Download SCSS Files (.zip)</a>
                        </div>
                  </div>
                  </div>
  
                <div class="card-body">
  
  
                  <div class="row">
                      <div class="col-sm-3">
                        <h3>Blues</h3>
                        <p>
                          <span style="color:#0e92c7;" class="color-square"><i class="fa fa-square"></i></span> #0e92c7 - base<br>
                          <span style="color:#d8f2fc;" class="color-square"><i class="fa fa-square"></i></span> #d8f2fc - $50<br>
                          <span style="color:#b3e5fa;" class="color-square"><i class="fa fa-square"></i></span> #b3e5fa - $100<br>
                          <span style="color:#8ed9f7;" class="color-square"><i class="fa fa-square"></i></span> #8ed9f7 - $200<br>
                          <span style="color:#57c7f3;" class="color-square"><i class="fa fa-square"></i></span> #57c7f3 - $300<br>
                          <span style="color:#20b4ef;" class="color-square"><i class="fa fa-square"></i></span> #20b4ef - $400<br>
                          <span style="color:#0e92c7;" class="color-square"><i class="fa fa-square"></i></span> #0e92c7 - $500<br>
                          <span style="color:#0d85b5;" class="color-square"><i class="fa fa-square"></i></span> #0d85b5 - $600<br>
                          <span style="color:#0a6a90;" class="color-square"><i class="fa fa-square"></i></span> #0a6a90 - $700<br>
                          <span style="color:#084f6b;" class="color-square"><i class="fa fa-square"></i></span> #084f6b - $800<br>
                          <span style="color:#053447;" class="color-square"><i class="fa fa-square"></i></span> #053447 - $900<br>
                        </p>
                      </div>
                      <div class="col-sm-3">
                        <h3>Greens</h3>
                        <p>
                          <span style="color:#79ad65;" class="color-square"><i class="fa fa-square"></i></span> #79ad65 - base<br>
                          <span style="color:#eff5ed;" class="color-square"><i class="fa fa-square"></i></span> #eff5ed - $50<br>
                          <span style="color:#d7e6d1;" class="color-square"><i class="fa fa-square"></i></span> #d7e6d1 - $200<br>
                          <span style="color:#71a65d;" class="color-square"><i class="fa fa-square"></i></span> #71a65d - $600<br>
                          <span style="color:#498337;" class="color-square"><i class="fa fa-square"></i></span> #498337 - $900<br>
                          <!--<hr/>
                           <p>Other Shades (use sparingly)</p>
                          <span style="color:#d7e6d1;" class="color-square"><i class="fa fa-square"></i></span> #d7e6d1 - $100<br>
                          <span style="color:#a1c683;" class="color-square"><i class="fa fa-square"></i></span> #a1c683 - $300<br>
                          <span style="color:#8db97c;" class="color-square"><i class="fa fa-square"></i></span> #8db97c - $400<br>
                          <span style="color:#79ad65;" class="color-square"><i class="fa fa-square"></i></span> #79ad65 - $500<br>
                          <span style="color:#669c53;" class="color-square"><i class="fa fa-square"></i></span> #669c53 - $700<br>
                          <span style="color:#5c9349;" class="color-square"><i class="fa fa-square"></i></span> #5c9349 - $800<br>
  
                        </p>
                          -->
                      </div>
                      <div class="col-sm-3">
                        <h3>Reds</h3>
                        <p>
                          <span style="color:#bf2e1b;" class="color-square"><i class="fa fa-square"></i></span> #bf2e1b - base<br>
                          <span style="color:#f7e6e4;" class="color-square"><i class="fa fa-square"></i></span> #f7e6e4 - $50<br>
                          <span style="color:#df978d;" class="color-square"><i class="fa fa-square"></i></span> #df978d - $200<br>
                          <span style="color:#b92918;" class="color-square"><i class="fa fa-square"></i></span> #b92918 - $600<br>
                          <span style="color:#9b1208;" class="color-square"><i class="fa fa-square"></i></span> #9b1208 - $900<br>

                          <!--<hr/>
                         <p>Other Shades (use sparingly)</p>
                          <span style="color:#ecc0bb;" class="color-square"><i class="fa fa-square"></i></span> #ecc0bb - $100<br>
                          <span style="color:#d26d5f;" class="color-square"><i class="fa fa-square"></i></span> #d26d5f - $300<br>
                          <span style="color:#c94d3d;" class="color-square"><i class="fa fa-square"></i></span> #c94d3d - $400<br>
                          <span style="color:#bf2e1b;" class="color-square"><i class="fa fa-square"></i></span> #bf2e1b - $500<br>
                          <span style="color:#b12314;" class="color-square"><i class="fa fa-square"></i></span> #b12314 - $700<br>
                          <span style="color:#a91d10;" class="color-square"><i class="fa fa-square"></i></span> #a91d10 - $800<br>
                          
                        </p> -->
                      <p></p>
                    </div>
                    <div class="col-sm-3">
                      <h3>Oranges / Yellows</h3>
                      <p>
                          <span style="color:#cb632b;" class="color-square"><i class="fa fa-square"></i></span> #cb632b - base<br>
                          <span style="color:#f9ece6;" class="color-square"><i class="fa fa-square"></i></span> #f9ece6 - $50<br>
                          <span style="color:#e5b195;" class="color-square"><i class="fa fa-square"></i></span> #e5b195 - $200<br>
                          <span style="color:#c65b26;" class="color-square"><i class="fa fa-square"></i></span> #c65b26 - $600<br>
                          <span style="color:#ac3510;" class="color-square"><i class="fa fa-square"></i></span> #ac3510 - $900<br>
                          <hr/>
                          <span style="color:#e8b417;" class="color-square"><i class="fa fa-square"></i></span> #e8b417 - base<br>
                            <span style="color:#fcf6e3;" class="color-square"><i class="fa fa-square"></i></span> #fcf6e3 - $50<br>
                            <span style="color:#f4da8b;" class="color-square"><i class="fa fa-square"></i></span> #f4da8b - $200<br>
                          <!--<hr/>
                           <p>Other Shades (use sparingly)</p>
                          <span style="color:#efd0bf;" class="color-square"><i class="fa fa-square"></i></span> #efd0bf - $100<br>
                          <span style="color:#db926b;" class="color-square"><i class="fa fa-square"></i></span> #db926b - $300<br>
                          <span style="color:#d37a4b;" class="color-square"><i class="fa fa-square"></i></span> #d37a4b - $400<br>
                          <span style="color:#cb632b;" class="color-square"><i class="fa fa-square"></i></span> #cb632b - $500<br>
                          <span style="color:#be5120;" class="color-square"><i class="fa fa-square"></i></span> #be5120 - $700<br>
                          <span style="color:#b8471a;" class="color-square"><i class="fa fa-square"></i></span> #b8471a - $800<br>
  
                      </p> -->
                    </div>
  
                    <!--<div class="col-sm-3">
                        <h3>Yellows</h3>
                        <p>
                            <span style="color:#e8b417;" class="color-square"><i class="fa fa-square"></i></span> #e8b417 - base<br>
                            <span style="color:#fcf6e3;" class="color-square"><i class="fa fa-square"></i></span> #fcf6e3 - $50<br>
                            <span style="color:#f4da8b;" class="color-square"><i class="fa fa-square"></i></span> #f4da8b - $200<br>
                            <span style="color:#e5ad14;" class="color-square"><i class="fa fa-square"></i></span> #e5ad14 - $600<br>
                            <span style="color:#d88c07;" class="color-square"><i class="fa fa-square"></i></span> #d88c07 - $900<br>
                            <hr/>
                           <p>Other Shades (use sparingly)</p> 
                            <span style="color:#f8e9b9;" class="color-square"><i class="fa fa-square"></i></span> #f8e9b9 - $100<br>
                            <span style="color:#efcb5d;" class="color-square"><i class="fa fa-square"></i></span> #efcb5d - $300<br>
                            <span style="color:#ebbf3a;" class="color-square"><i class="fa fa-square"></i></span> #ebbf3a - $400<br>
                            <span style="color:#e8b417;" class="color-square"><i class="fa fa-square"></i></span> #e8b417 - $500<br>
                            <span style="color:#e2a411;" class="color-square"><i class="fa fa-square"></i></span> #e2a411 - $700<br>
                            <span style="color:#de9c0d;" class="color-square"><i class="fa fa-square"></i></span> #de9c0d - $800<br>
    
                        </p> 
                      </div> -->
  
                      <div class="col-sm-3">
                          <h3>Browns</h3>
                          <p>
                              <span style="color:#5d4e3f;" class="color-square"><i class="fa fa-square"></i></span> #5d4e3f - base<br>
                              <span style="color:#eceae8;" class="color-square"><i class="fa fa-square"></i></span> #eceae8 - $50<br>
                              <span style="color:#aea79f;" class="color-square"><i class="fa fa-square"></i></span> #aea79f - $200<br>
                              <span style="color:#554739;" class="color-square"><i class="fa fa-square"></i></span> #554739 - $600<br>
                              <span style="color:#30251b;" class="color-square"><i class="fa fa-square"></i></span> #30251b - $900<br>
                              <!--<hr/>
                               <p>Other Shades (use sparingly)</p>   
                              <span style="color:#cecac5;" class="color-square"><i class="fa fa-square"></i></span> #cecac5 - $100<br>
                              <span style="color:#8e8379;" class="color-square"><i class="fa fa-square"></i></span> #8e8379 - $300<br>
                              <span style="color:#75695c;" class="color-square"><i class="fa fa-square"></i></span> #75695c - $400<br>
                              <span style="color:#5d4e3f;" class="color-square"><i class="fa fa-square"></i></span> #5d4e3f - $500<br>
                              <span style="color:#4b3d31;" class="color-square"><i class="fa fa-square"></i></span> #4b3d31 - $700<br>
                              <span style="color:#413529;" class="color-square"><i class="fa fa-square"></i></span> #413529 - $800<br>
      
                          </p> -->
                        </div>
  
                        <div class="col-sm-3">
                            <h3>Greys</h3>
                            <p>
                                <span style="color:#3b3b3f;" class="color-square"><i class="fa fa-square"></i></span> #3b3b3f - base<br>
                                <span style="color:#e7e7e8;" class="color-square"><i class="fa fa-square"></i></span> #e7e7e8 - $50<br>
                                <span style="color:#9d9f9f;" class="color-square"><i class="fa fa-square"></i></span> #9d9d9f - $200<br>
                                <span style="color:#353539;" class="color-square"><i class="fa fa-square"></i></span> #353539 - $600<br>
                                <span style="color:#19191b;" class="color-square"><i class="fa fa-square"></i></span> #19191b - $900<br>
                               <!-- <hr/>
                                <p>Other Shades (use sparingly)</p>   
                                <span style="color:#c4c4c5;" class="color-square"><i class="fa fa-square"></i></span> #c4c4c5 - $100<br>
                                <span style="color:#767679;" class="color-square"><i class="fa fa-square"></i></span> #767679 - $300<br>
                                <span style="color:#58585c;" class="color-square"><i class="fa fa-square"></i></span> #58585c - $400<br>
                                <span style="color:#3b3b3f;" class="color-square"><i class="fa fa-square"></i></span> #3b3b3f - $500<br>
                                <span style="color:#2d2d31;" class="color-square"><i class="fa fa-square"></i></span> #2d2d31 - $700<br>
                                <span style="color:#262629;" class="color-square"><i class="fa fa-square"></i></span> #262629 - $800<br>
        
                            </p> -->
                          </div>
                  </div>
                <br/><br/>
              </div>
            </div>

           


          <br/><br/><br/>

          <div class="card">
              <div class="card-header card-header-primary">
                <h3 class="card-title">Mobile</h3>
                <p class="card-category">
                </p>
                </div>

            <div class="card-body">
              
              <div class="row">
                  <div class="col-sm-3">
                    <h4>BLUES</h4>
                    <p>
                      <span style="color:#013347;" class="color-square"><i class="fa fa-square"></i></span> #013347 - .darkest-blue<br>
                      <span style="color:#0B4760;" class="color-square"><i class="fa fa-square"></i></span> #0B4760 - .darker-blue<br>
                      <span style="color:#205970;" class="color-square"><i class="fa fa-square"></i></span> #205970 - .dark-blue<br>
                      <span style="color:#0073AE;" class="color-square"><i class="fa fa-square"></i></span> #0073AE - .med-blue<br>
                      <span style="color:#0D92C7;" class="color-square"><i class="fa fa-square"></i></span> #0D92C7 - .med-light-blue<br>
                      <span style="color:#A3BDCB;" class="color-square"><i class="fa fa-square"></i></span> #A3BDCB - .light-blue<br>
                      <span style="color:#E1EFF4;" class="color-square"><i class="fa fa-square"></i></span> #E1EFF4 - .lightest-blue
                    </p>
                  </div>
                  <div class="col-sm-3">
                    <h4>Errors &amp; Warnings</h4>
                    <p>
                      <span style="color:#f6f1d8;" class="color-square"><i class="fa fa-square"></i></span> #f6f1d8 - .beige<br>
                      <span style="color:#E3BD8E;" class="color-square"><i class="fa fa-square"></i></span> #E3BD8E - .alert-yellow<br>
                      <span style="color:#EA9423;" class="color-square"><i class="fa fa-square"></i></span> #EA9423 - .alert-orange<br>
                      <span style="color:#BE1E2D;" class="color-square"><i class="fa fa-square"></i></span> #BE1E2D - .alert-red<br>
                      <span style="color:#F4DAD5;" class="color-square"><i class="fa fa-square"></i></span> #F4DAD5 - .alert-red-opaque

                    </p>

                  </div>
                  <div class="col-sm-3">
                    <h4>Confirmation &amp; Success</h4>
                    <p>
                      <span style="color:#EBF3D8;" class="color-square"><i class="fa fa-square"></i></span> #EBF3D8 - .lightest-green<br>
                      <span style="color:#A5B284;" class="color-square"><i class="fa fa-square"></i></span> #A5B284 - .light-green<br>
                      <span style="color:#79AD65;" class="color-square"><i class="fa fa-square"></i></span> #79AD65 - .med-green<br>
                      <span style="color:#385A2C;" class="color-square"><i class="fa fa-square"></i></span> #385A2C - .dark-green
                    </p>
                  <p></p>
                </div>
                <div class="col-sm-3">
                  <h4>NEUTRALS</h4>
                  <p>
                    <span style="color:#F1F2F2;" class="color-square"><i class="fa fa-square"></i></span> #F1F2F2 - .lightest-gray<br>
                    <span style="color:#D1D3D4;" class="color-square"><i class="fa fa-square"></i></span> #D1D3D4 - $light-gray<br>
                    <span style="color:#999999;" class="color-square"><i class="fa fa-square"></i></span> #999999 - .med-gray<br>
                    <span style="color:#666666;" class="color-square"><i class="fa fa-square"></i></span> #666666 - .med-dark-gray<br>
                    <span style="color:#333333;" class="color-square"><i class="fa fa-square"></i></span> #333333 - .dark-gray<br>
                  </p>
                </div>
              </div>
            <br/><br/>
          </div>

        </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">

          <div class="copyright float-right">
            &copy;
            <script>
              document.write(new Date().getFullYear())
            </script>
          </div>
        </div>
      </footer>
    </div>
  </div>

  <!--   Core JS Files   -->
  <script src="../assets/js/core/jquery.min.js"></script>
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap-material-design.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!-- Plugin for the momentJs  -->
  <script src="../assets/js/plugins/moment.min.js"></script>
  <!--  Plugin for Sweet Alert -->
  <script src="../assets/js/plugins/sweetalert2.js"></script>
  <!-- Forms Validations Plugin -->
  <script src="../assets/js/plugins/jquery.validate.min.js"></script>
  <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
  <script src="../assets/js/plugins/jquery.bootstrap-wizard.js"></script>
  <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
  <script src="../assets/js/plugins/bootstrap-selectpicker.js"></script>
  <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
  <script src="../assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
  <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
  <script src="../assets/js/plugins/jquery.dataTables.min.js"></script>
  <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
  <script src="../assets/js/plugins/bootstrap-tagsinput.js"></script>
  <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
  <script src="../assets/js/plugins/jasny-bootstrap.min.js"></script>
  <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
  <script src="../assets/js/plugins/fullcalendar.min.js"></script>
  <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
  <script src="../assets/js/plugins/jquery-jvectormap.js"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="../assets/js/plugins/nouislider.min.js"></script>
  <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
  <!-- Library for adding dinamically elements -->
  <script src="../assets/js/plugins/arrive.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chartist JS -->
  <script src="../assets/js/plugins/chartist.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/material-dashboard.js?v=2.1.1" type="text/javascript"></script>
  <!-- Material Dashboard DEMO methods, don't include it in your project! -->
  <script src="../assets/demo/demo.js"></script>
  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');

        $sidebar_img_container = $sidebar.find('.sidebar-background');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

        if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
          if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
            $('.fixed-plugin .dropdown').addClass('open');
          }

        }

        $('.fixed-plugin a').click(function(event) {
          // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .active-color span').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-color', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data-color', new_color);
          }
        });

        $('.fixed-plugin .background-color .badge').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('background-color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-background-color', new_color);
          }
        });

        $('.fixed-plugin .img-holder').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).parent('li').siblings().removeClass('active');
          $(this).parent('li').addClass('active');


          var new_image = $(this).find("img").attr('src');

          if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            $sidebar_img_container.fadeOut('fast', function() {
              $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
              $sidebar_img_container.fadeIn('fast');
            });
          }

          if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $full_page_background.fadeOut('fast', function() {
              $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
              $full_page_background.fadeIn('fast');
            });
          }

          if ($('.switch-sidebar-image input:checked').length == 0) {
            var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
          }
        });

        $('.switch-sidebar-image input').change(function() {
          $full_page_background = $('.full-page-background');

          $input = $(this);

          if ($input.is(':checked')) {
            if ($sidebar_img_container.length != 0) {
              $sidebar_img_container.fadeIn('fast');
              $sidebar.attr('data-image', '#');
            }

            if ($full_page_background.length != 0) {
              $full_page_background.fadeIn('fast');
              $full_page.attr('data-image', '#');
            }

            background_image = true;
          } else {
            if ($sidebar_img_container.length != 0) {
              $sidebar.removeAttr('data-image');
              $sidebar_img_container.fadeOut('fast');
            }

            if ($full_page_background.length != 0) {
              $full_page.removeAttr('data-image', '#');
              $full_page_background.fadeOut('fast');
            }

            background_image = false;
          }
        });

        $('.switch-sidebar-mini input').change(function() {
          $body = $('body');

          $input = $(this);

          if (md.misc.sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            md.misc.sidebar_mini_active = false;

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

          } else {

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

            setTimeout(function() {
              $('body').addClass('sidebar-mini');

              md.misc.sidebar_mini_active = true;
            }, 300);
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);

        });
      });
    });
  </script>
</body>

</html>
