<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
      Digital Experience - Design System
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <link rel="stylesheet" href="../assets/fonts/univers.css">
  <!-- CSS Files -->
  <link href="../assets/css/material-dashboard.css?v=2.1.1" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../assets/demo/demo.css" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="azure" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
    <div class="logo">
        <a href="../index.html" class="simple-text logo-mini">
          <img src="../assets/img/bcbsnc-mobile-logo-2x.png">
        </a>
        <a href="../index.html" class="simple-text logo-normal">
          Digital Design System
        </a>
      </div>
       <!-- MAIN NAV -->
       <div class="sidebar-wrapper">
          <ul class="nav">
  
            <li class="nav-item ">
              <a class="nav-link" href="../index.html">
                <i class="material-icons">dashboard</i>
                <p>Dashboard</p>
              </a>
            </li>
  
            <br />
            <div class="nav-section-header">
              <h4 class="nav-section-header-text">Guidelines
                <hr />
              </h4>
            </div>
  
            <li class="nav-item  ">
              <a class="nav-link" href="accessibility.html">
                <i class="material-icons">accessibility</i>
                <p>Accessibility</p>
              </a>
            </li>
            <li class="nav-item  ">
              <a class="nav-link" href="colors.html">
                <i class="material-icons">color_lens</i>
                <p>Colors</p>
              </a>
            </li>
            <li class="nav-item  ">
              <a class="nav-link" href="content.html">
                <i class="material-icons">description</i>
                <p>Content</p>
              </a>
            </li>
            <li class="nav-item   ">
              <a class="nav-link" href="icons.html">
                <i class="material-icons">bubble_chart</i>
                <p>Icons</p>
              </a>
            </li>
            <li class="nav-item  ">
              <a class="nav-link" href="imagery.html">
                <i class="material-icons">collections</i>
                <p>Imagery</p>
              </a>
            </li>
            <li class="nav-item  ">
              <a class="nav-link" href="logos.html">
                <i class="material-icons">featured_video</i>
                <p>Logos</p>
              </a>
            </li>
            <li class="nav-item  ">
                <a class="nav-link" href="testing.html">
                  <i class="material-icons">verified_user</i>
                  <p>Testing</p>
                </a>
              </li>
            <li class="nav-item   ">
              <a class="nav-link" href="typography.html">
                <i class="material-icons">library_books</i>
                <p>Typography</p>
              </a>
            </li>
  
            <br />
            <div class="nav-section-header">
              <h4 class="nav-section-header-text">Components
                <hr />
              </h4>
            </div>
  
            <li class="nav-item  ">
                <a class="nav-link" href="breadcrumbs.html">
                  <i class="material-icons">keyboard_arrow_right</i>
                  <p>Breadcrumbs </p>
                </a>
              </li>
            <li class="nav-item   ">
              <a class="nav-link" href="buttons.html">
                <i class="material-icons">radio_button_checked</i>
                <p>Buttons </p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="cards.html">
                <i class="material-icons">view_quilt</i>
                <p>Cards</p>
              </a>
            </li>
            <li class="nav-item  ">
              <a class="nav-link" href="accordions.html">
                <i class="material-icons">expand_more</i>
                <p>Expansion Panels</p>
              </a>
            </li>
            <li class="nav-item  ">
                <a class="nav-link" href="footer.html">
                  <i class="material-icons">horizontal_split</i>
                  <p>Footer</p>
                </a>
              </li>
            <li class="nav-item active ">
              <a class="nav-link" href="forms.html">
                <i class="material-icons">format_align_center</i>
                <p>Forms</p>
              </a>
            </li>
            <li class="nav-item  ">
              <a class="nav-link" href="graphs.html">
                <i class="material-icons">insert_chart_outlined</i>
                <p>Graphs</p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="help.html">
                <i class="material-icons">help_outline</i>
                <p>Help</p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="heroes.html">
                <i class="material-icons">image</i>
                <p>Hero Banners</p>
              </a>
            </li>
            <li class="nav-item  ">
              <a class="nav-link" href="lists.html">
                <i class="material-icons">lists</i>
                <p>Lists</p>
              </a>
            </li>
            <li class="nav-item   ">
              <a class="nav-link" href="modals.html">
                <i class="material-icons">chrome_reader_mode</i>
                <p>Modals </p>
              </a>
            </li>
            <li class="nav-item  ">
              <a class="nav-link" href="navigation.html">
                <i class="material-icons">navigation</i>
                <p>Navigation</p>
              </a>
            </li>
            <li class="nav-item   ">
              <a class="nav-link" href="notifications.html">
                <i class="material-icons">notification_important</i>
                <p>Notifications</p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="progress-indicator.html">
                <i class="material-icons">skip_next</i>
                <p>Progress Indicators</p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="right-rail.html">
                <i class="material-icons" style="transform: rotate(270deg);">call_to_action</i>
                <p>Right Rail</p>
              </a>
            </li>
            <li class="nav-item  ">
              <a class="nav-link" href="search-filter.html">
                <i class="material-icons">search</i>
                <p>Search &amp; Filter</p>
              </a>
            </li>
            <li class="nav-item   ">
              <a class="nav-link" href="tables.html">
                <i class="material-icons">dashboard</i>
                <p>Tables</p>
              </a>
            </li>
            <li class="nav-item  ">
              <a class="nav-link" href="tabs.html">
                <i class="material-icons">tabs</i>
                <p>Tabs</p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="tiles.html">
                <i class="material-icons">crop_square</i>
                <p>Tiles</p>
              </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="tooltips.html">
                  <i class="material-icons">info</i>
                  <p>Tooltips</p>
                </a>
              </li>
  
  
            <br /><br /><br /><br />
            <!-- END MAIN NAV -->
            <!-- your sidebar here -->
          </ul>
        </div>
    <!-- END MAIN NAV -->
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="#pablo">Forms</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
           <!-- SIDE NAV -->
           <div class="collapse navbar-collapse justify-content-end">

            <!-- <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="material-icons">layers</i> Design
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="material-icons">build</i> UX
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="material-icons">code</i> Dev
                </a>
              </li>
            </ul> -->
          </div>
          <!-- END SIDE NAV -->
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">

            <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Patterns for Form Elements</h4>
                  <p class="card-category">
                    
                    <div class="row">
                    <div class="col-md-9">
                      <ul>
                        <li>Input field</li>
                        <li>Dropdown</li>
                        <li>Toggle</li>
                        <li>Radio Button</li>
                        <li>Checkbox</li>
                        <li>Error messaging &amp; inline validation</li>
                        <li>Date Picker</li>
                        
                        </ul>
                    </div>
                    <div class="col-md-3">
                      <a class="btn btn-outline-card-header" href="https://app.zeplin.io/project/5c87f73aa1202f046e93b963/dashboard?seid=5c93e50c9f489505caeb9ffe" target="_blank">View Specs &amp; Styles in Zeplin <i class="material-icons">open_in_new</i></a>
                      </div>

                    </div>

                    </p>
                  
                </div>
            </div>




            <div id="accordion">

                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          <h3  class="ep-section-header">Web</h3>
                      </button>
                    </h5>
                  </div>
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                            <img class="img-fluid" src="../assets/component-comps/bc2-inbox-form.png">
                          </div>
                          <div class="col-md-6">
                              <img class="img-fluid" src="../assets/component-comps/bc2-cpc-form.png">
                            </div>
                        </div>
                       
                    </div>
                  </div>     
                </div>
    
                
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          <h3  class="ep-section-header">Mobile</h3>
                      </button>
                    </h5>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <p class="card-category"><a href="https://app.zeplin.io/project/5c87f73aa1202f046e93b963/dashboard?seid=5c93e50c9f489505caeb9ffe" target="_blank">View specs &amp; styles in Zeplin</a></p>
              
                        <div class="row">
                          
                            <div class="col-md-6">
                                <h4>Radio Buttons</h4>
                                <img class="comp-sizing-md-small" src="../assets/component-comps/mobile-form-radio.png">
                                <br/><br/>
                                <img class="comp-sizing-md-small" src="../assets/component-comps/mobile-form-descriptive-radio.png">
                                <br/><br/>
                                <h4>Check Box</h4>
                                <img class="comp-sizing-md-small" src="../assets/component-comps/mobile-form-check-box.png">
                                <br/><br/>
                                <h4>Glossary Info Icon</h4>
                                <img class="comp-sizing-md-small" src="../assets/component-comps/mobile-form-info-icon.png">
                                <br/><br/>
                                <h4>Username</h4>
                                <img class="comp-sizing-md-small" src="../assets/component-comps/mobile-user-id.png">
                                <br/><br/>
                                <h4>Password</h4>
                                <img class="comp-sizing-md-small" src="../assets/component-comps/mobile-password.png">
                                
                            </div>
                           
                            <div class="col-md-6">
                              <h4>Text Field</h4>
                              <img class="comp-sizing-md-small" src="../assets/component-comps/mobile-form-text-field.png">
                              <br/><br/>
                              <h4>Dropdown</h4>
                              <p>Note: the selected state will trigger the device's native selector.</p>
                              <img class="comp-sizing-md-small" src="../assets/component-comps/mobile-form-dropdown.png">
                              <br/><br/>
                              <h4>Error Messages</h4>
                              <img class="comp-sizing-md-small" src="../assets/component-comps/mobile-error-messages.png">
                              <br/><br/>
                              <h4>Continue / Cancel</h4>
                              <img class="comp-sizing-md-small" src="../assets/component-comps/mobile-form-continue-cancel.png">
                              
                            </div>
            
                          </div>
                          <h4>Agent NC Medicare Form with Inline Validation</h4>
                          <img class="comp-sizing-medium" src="../assets/component-comps/mobile-agent-form.png">

                          <br/><br/>
                          <h4>Live Chat</h4>
                          <div class="row">
                            <div class="col-sm-3">
                                <img class="img-fluid" src="../assets/component-comps/mobile-chat-1.png">
                            </div>

                            <div class="col-sm-1">
                              </div>

                            <div class="col-sm-3">
                                <img class="img-fluid" src="../assets/component-comps/mobile-chat-2.png">
                              </div>

                              <div class="col-sm-1">
                                </div>

                              <div class="col-sm-3">
                                  <img class="img-fluid" src="../assets/component-comps/mobile-chat-3.png">
                                </div>

                                <div class="col-sm-1">
                                  </div>
                          </div>
                    </div>
                  </div>
                </div>

                  <div class="card">
                      <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              <h3  class="ep-section-header">Smart Desktop</h3>
                          </button>
                        </h5>
                      </div>
                      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            <p class="card-category"><a href="https://app.zeplin.io/project/5c87f73aa1202f046e93b963/dashboard?seid=5c93e50c9f489505caeb9ffe" target="_blank">View specs &amp; styles in Zeplin</a></p>
                           
                           <div class="row">
                             <div class="col-md-8">
                            <img class="img-fluid" src="../assets/component-comps/smart-desktop-form.png">
                            </div>
                            <div class="col-md-4">
                            <img class="img-fluid" src="../assets/component-comps/smart-desktop-inquiry-form.png">
                            </div>

                            </div>
                            
                        </div>
                      </div>
                    </div>

                </div>
                
              </div>









        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">

          <div class="copyright float-right">
            &copy;
            <script>
              document.write(new Date().getFullYear())
            </script>
          </div>
        </div>
      </footer>
    </div>
  </div>

  <!--   Core JS Files   -->
  <script src="../assets/js/core/jquery.min.js"></script>
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap-material-design.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!-- Plugin for the momentJs  -->
  <script src="../assets/js/plugins/moment.min.js"></script>
  <!--  Plugin for Sweet Alert -->
  <script src="../assets/js/plugins/sweetalert2.js"></script>
  <!-- Forms Validations Plugin -->
  <script src="../assets/js/plugins/jquery.validate.min.js"></script>
  <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
  <script src="../assets/js/plugins/jquery.bootstrap-wizard.js"></script>
  <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
  <script src="../assets/js/plugins/bootstrap-selectpicker.js"></script>
  <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
  <script src="../assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
  <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
  <script src="../assets/js/plugins/jquery.dataTables.min.js"></script>
  <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
  <script src="../assets/js/plugins/bootstrap-tagsinput.js"></script>
  <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
  <script src="../assets/js/plugins/jasny-bootstrap.min.js"></script>
  <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
  <script src="../assets/js/plugins/fullcalendar.min.js"></script>
  <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
  <script src="../assets/js/plugins/jquery-jvectormap.js"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="../assets/js/plugins/nouislider.min.js"></script>
  <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
  <!-- Library for adding dinamically elements -->
  <script src="../assets/js/plugins/arrive.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chartist JS -->
  <script src="../assets/js/plugins/chartist.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/material-dashboard.js?v=2.1.1" type="text/javascript"></script>
  <!-- Material Dashboard DEMO methods, don't include it in your project! -->
  <script src="../assets/demo/demo.js"></script>
  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');

        $sidebar_img_container = $sidebar.find('.sidebar-background');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

        if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
          if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
            $('.fixed-plugin .dropdown').addClass('open');
          }

        }

        $('.fixed-plugin a').click(function(event) {
          // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .active-color span').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-color', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data-color', new_color);
          }
        });

        $('.fixed-plugin .background-color .badge').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('background-color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-background-color', new_color);
          }
        });

        $('.fixed-plugin .img-holder').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).parent('li').siblings().removeClass('active');
          $(this).parent('li').addClass('active');


          var new_image = $(this).find("img").attr('src');

          if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            $sidebar_img_container.fadeOut('fast', function() {
              $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
              $sidebar_img_container.fadeIn('fast');
            });
          }

          if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $full_page_background.fadeOut('fast', function() {
              $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
              $full_page_background.fadeIn('fast');
            });
          }

          if ($('.switch-sidebar-image input:checked').length == 0) {
            var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
          }
        });

        $('.switch-sidebar-image input').change(function() {
          $full_page_background = $('.full-page-background');

          $input = $(this);

          if ($input.is(':checked')) {
            if ($sidebar_img_container.length != 0) {
              $sidebar_img_container.fadeIn('fast');
              $sidebar.attr('data-image', '#');
            }

            if ($full_page_background.length != 0) {
              $full_page_background.fadeIn('fast');
              $full_page.attr('data-image', '#');
            }

            background_image = true;
          } else {
            if ($sidebar_img_container.length != 0) {
              $sidebar.removeAttr('data-image');
              $sidebar_img_container.fadeOut('fast');
            }

            if ($full_page_background.length != 0) {
              $full_page.removeAttr('data-image', '#');
              $full_page_background.fadeOut('fast');
            }

            background_image = false;
          }
        });

        $('.switch-sidebar-mini input').change(function() {
          $body = $('body');

          $input = $(this);

          if (md.misc.sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            md.misc.sidebar_mini_active = false;

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

          } else {

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

            setTimeout(function() {
              $('body').addClass('sidebar-mini');

              md.misc.sidebar_mini_active = true;
            }, 300);
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);

        });
      });
    });
  </script>
</body>

</html>
