<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
      Digital Experience - Design System
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <link rel="stylesheet" href="../assets/fonts/univers.css">
  <!-- CSS Files -->
  <link href="../assets/css/material-dashboard.css?v=2.1.1" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../assets/demo/demo.css" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="azure" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
    <div class="logo">
        <a href="../index.html" class="simple-text logo-mini">
          <img src="../assets/img/bcbsnc-mobile-logo-2x.png">
        </a>
        <a href="../index.html" class="simple-text logo-normal">
          Digital Design System
        </a>
      </div>
       <!-- MAIN NAV -->
       <div class="sidebar-wrapper">
          <ul class="nav">
  
            <li class="nav-item ">
              <a class="nav-link" href="../index.html">
                <i class="material-icons">dashboard</i>
                <p>Dashboard</p>
              </a>
            </li>
  
            <br />
            <div class="nav-section-header">
              <h4 class="nav-section-header-text">Guidelines
                <hr />
              </h4>
            </div>
  
            <li class="nav-item  ">
              <a class="nav-link" href="accessibility.html">
                <i class="material-icons">accessibility</i>
                <p>Accessibility</p>
              </a>
            </li>
            <li class="nav-item  ">
              <a class="nav-link" href="colors.html">
                <i class="material-icons">color_lens</i>
                <p>Colors</p>
              </a>
            </li>
            <li class="nav-item  ">
              <a class="nav-link" href="content.html">
                <i class="material-icons">description</i>
                <p>Content</p>
              </a>
            </li>
            <li class="nav-item   ">
              <a class="nav-link" href="icons.html">
                <i class="material-icons">bubble_chart</i>
                <p>Icons</p>
              </a>
            </li>
            <li class="nav-item  ">
              <a class="nav-link" href="imagery.html">
                <i class="material-icons">collections</i>
                <p>Imagery</p>
              </a>
            </li>
            <li class="nav-item active ">
              <a class="nav-link" href="logos.html">
                <i class="material-icons">featured_video</i>
                <p>Logos</p>
              </a>
            </li>
            <li class="nav-item  ">
                <a class="nav-link" href="testing.html">
                  <i class="material-icons">verified_user</i>
                  <p>Testing</p>
                </a>
              </li>
            <li class="nav-item   ">
              <a class="nav-link" href="typography.html">
                <i class="material-icons">library_books</i>
                <p>Typography</p>
              </a>
            </li>
  
            <br />
            <div class="nav-section-header">
              <h4 class="nav-section-header-text">Components
                <hr />
              </h4>
            </div>
  
            <li class="nav-item   ">
              <a class="nav-link" href="buttons.html">
                <i class="material-icons">radio_button_checked</i>
                <p>Buttons </p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="cards.html">
                <i class="material-icons">view_quilt</i>
                <p>Cards</p>
              </a>
            </li>
            <li class="nav-item  ">
              <a class="nav-link" href="accordions.html">
                <i class="material-icons">expand_more</i>
                <p>Expansion Panels</p>
              </a>
            </li>
            <li class="nav-item  ">
                <a class="nav-link" href="footer.html">
                  <i class="material-icons">horizontal_split</i>
                  <p>Footer</p>
                </a>
              </li>
            <li class="nav-item  ">
              <a class="nav-link" href="forms.html">
                <i class="material-icons">format_align_center</i>
                <p>Forms</p>
              </a>
            </li>
            <li class="nav-item  ">
              <a class="nav-link" href="graphs.html">
                <i class="material-icons">insert_chart_outlined</i>
                <p>Graphs</p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="help.html">
                <i class="material-icons">help_outline</i>
                <p>Help</p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="heroes.html">
                <i class="material-icons">image</i>
                <p>Hero Banners</p>
              </a>
            </li>
            <li class="nav-item  ">
              <a class="nav-link" href="lists.html">
                <i class="material-icons">lists</i>
                <p>Lists</p>
              </a>
            </li>
            <li class="nav-item   ">
              <a class="nav-link" href="modals.html">
                <i class="material-icons">chrome_reader_mode</i>
                <p>Modals </p>
              </a>
            </li>
            <li class="nav-item  ">
              <a class="nav-link" href="navigation.html">
                <i class="material-icons">navigation</i>
                <p>Navigation</p>
              </a>
            </li>
            <li class="nav-item   ">
              <a class="nav-link" href="notifications.html">
                <i class="material-icons">notification_important</i>
                <p>Notifications</p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="progress-indicator.html">
                <i class="material-icons">skip_next</i>
                <p>Progress Indicators</p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="right-rail.html">
                <i class="material-icons" style="transform: rotate(270deg);">call_to_action</i>
                <p>Right Rail</p>
              </a>
            </li>
            <li class="nav-item  ">
              <a class="nav-link" href="search-filter.html">
                <i class="material-icons">search</i>
                <p>Search &amp; Filter</p>
              </a>
            </li>
            <li class="nav-item   ">
              <a class="nav-link" href="tables.html">
                <i class="material-icons">dashboard</i>
                <p>Tables</p>
              </a>
            </li>
            <li class="nav-item  ">
              <a class="nav-link" href="tabs.html">
                <i class="material-icons">tabs</i>
                <p>Tabs</p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="tiles.html">
                <i class="material-icons">crop_square</i>
                <p>Tiles</p>
              </a>
            </li>
  
           <br /><br /><br /><br />
           
          </ul>
        </div>
    <!-- END MAIN NAV -->
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="#pablo">Logos</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
           <!-- SIDE NAV -->
           <div class="collapse navbar-collapse justify-content-end">

            <!-- <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="material-icons">layers</i> Design
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="material-icons">build</i> UX
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="material-icons">code</i> Dev
                </a>
              </li>
            </ul> -->
          </div>
          <!-- END SIDE NAV -->
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Logos</h4>
              <p class="card-category"><a href="../assets/downloads/logos.sketch" class="btn btn-outline-card-header" target="_blank">Download the Full Logo Set (.sketch)</a></p>
              
            </div>
            <div class="card-body">
              <div id="design">
                
                  <h3>Blue Connect</h3>
                  <div class="row">
                  <div class="col-md-6">
                  <img src="../assets/component-comps/bc2-logo-use.png" class="img-fluid">
                  
                  </div>
  
                  <div class="col-md-6">
                    <p>
                      <br/><br/>Blue Connect Web (Legacy) width: 200px; height:24px;
                      <br/>Blue Connect Web (2.0) width: 230px; height:27px;
                    </p>
                    <div class="padding:30px; ">
                    <a class="btn btn-primary" style="font-size:12px;" href="../assets/component-comps/logos/downloads/blue-connect.zip">Download Blue Connect Logos<br/>(.png and .svg file types)</a>
                    </div>
                  </div>
                  </div>
                  <hr>
                
                <h3>Flush Left</h3>
                <div class="row">
                <div class="col-md-6">
                <img src="../assets/component-comps/logos/bcbsnc-logoK-2x.png" class="comp-sizing-small comp-logo">
                <img src="../assets/component-comps/logos/logos-flushleft.png" class="comp-sizing-small comp-logo">
                

                
                </div>

                <div class="col-md-6">
                  <p>When to Use the Flush Left Logo: <br/>
                      The flush left logo is the preferred configuration.
                      It works well in horizontal applications
                      where it can be proportionately scaled to fit
                      the desired area.
                      Cyan and black is the preferred color option.
                      The cyan and white version is a preferred
                      option if it’s on a dark solid background. If limited
                      to one color, use the all-cyan, all-black or
                      all-white version, depending on which works
                      best in the design.
                    <br/><br/>BlueCrossNC.com width: 260px; height:38px;
                    <br/>
                <a class="btn btn-primary" style="font-size:12px;" href="../assets/component-comps/logos/downloads/flush-left.zip">Download Flush Left Logos<br/>(.png file types)</a>
                  </p>
                </div>
                </div>
                <hr>
                
                <h3>Centered</h3>
                <div class="row">
                    <div class="col-md-6">
                <img src="../assets/component-comps/logos/logos-centered.png" class="comp-sizing-small">
                    </div>
                <div class="col-md-6">
                    <p>When to Use the Centered Logo (Stacked): <br/>
                     
                      The centered logo is an optional configuration
                      that allows the logo to be proportionately
                      scaled larger than the Flush Left logo within a
                      vertical or narrow application.
                      Cyan and black is the preferred color option.
                      The cyan and white version is a preferred
                      option if it’s on a dark solid background. If limited
                      to one color, use the all-cyan, all-black or
                      all-white version, depending on which works
                      best in the design.</p>
                  </div>
                  </div>
                
                <hr>

                

                <h3>Abbreviated</h3>
                <div class="row">
                  <div class="col-md-6">
                <img src="../assets/component-comps/logos/logos-crossshieldNC.png" class="comp-sizing-small comp-logo">
                <br/>
                <img src="../assets/component-comps/logos/logos-crossshieldNC-stacked.png" class="comp-sizing-small">
                  </div>
                  <div class="col-md-6">
                <p>When to Use the Abbreviated Logo: <br/>
                1. When the logo presence needs to be as
                large as possible in a defined space.
                + Where it needs to be identifiable from a
                far distance.<br/><br/>
                + In very small spaces (like mobile viewpoints) where the
                lettering of the corporate logo would be too
                small to be readable.<br/><br/>
                + When combined with numerous other
                logos, such as co-branding for State Health Plan, so that it stands
                out more clearly.<br/><br/>
                2. When we want to appear more approachable
                and casual. However the Cross Shield NC
                logo should never be used in a situation
                directly involving sales or insurance.
                The horizontal configuration is preferred. The
                stacked configuration may also be used when
                necessary.<br/><br/>
                Cyan and black is the preferred color option.
                The cyan and white logo version is a preferred
                option if placing the logo on a dark solid
                background. If limited to one color, use the
                centered stacked version.
                </p>
                <br/>
                <a class="btn btn-primary" style="font-size:12px;" href="../assets/component-comps/logos/downloads/abbreviated.zip">Download Abbreviated Logos<br/>(.png and .svg file types)</a>
              </div>
            </div>


                <hr/>
                <h3>Products</h3>
                <div class="row">

                <div class="col-md-6">
                  <p>Please note: this is a small sample, all product logos included in the download</p>
                <img src="../assets/component-comps/logos/Blue Connect Inverse (Full).png" class="comp-sizing-small comp-logo">
                <img src="../assets/component-comps/logos/blue-local.png" class="comp-sizing-small comp-logo">
                <img src="../assets/component-comps/logos/blue-medicare-hmo.png" class="comp-sizing-small comp-logo">
                <img src="../assets/component-comps/logos/blue-medicare.png" class="comp-sizing-small comp-logo">
                <img src="../assets/component-comps/logos/downloads/products/Blue Cross NC/Products/BlueAdvantage/CK.png" class="comp-sizing-small comp-logo">
                <img src="../assets/component-comps/logos/downloads/products/Blue Cross NC/Products/Dental Blue/CK.png" class="comp-sizing-small comp-logo">
                </div>

                <div class="col-md-6">
                  <p>
                      There are a number of other logos, or what
                      we like to call type treatments, for BCBSNC
                      products and programs. NOTE: Existing product
                      and program type treatment files already
                      exist. Therefore please use these files instead
                      of recreating them. If a new plan or program
                      type treatment is needed, always keep the
                      following principles in mind when developing
                      new ones:<br/><br/>
                      1. The only use (other than in the standard
                      BCBSNC logo) of the word “Blue” should
                      be in product (plan) type treatments. The
                      only time the font Walbaum Bold should
                      be used is in the treatment of the word
                      “Blue” when it is in a type treatment. The
                      word “Blue” should always appear first and
                      be Process Cyan. The second word should
                      be Univers Light and be black.<br/><br/>
                      2. Any product or program name that does
                      not have the world “Blue” in it should be in
                      Univers Light.<br/><br/>
                      3. In most cases, when all the words are
                      Univers Light, the first word should be
                      Process Cyan and the second word black.
                      4. There are no character spaces between the
                      words in type treatments. NOTE: When
                      products or programs are mentioned in
                      text, there should always be a character
                      space between words.<br/><br/>
                      5. Kerning should be manually tightened after
                      converting the font to outlines. Use the
                      above examples to gauge spacing.
                    </p>
                    <br/>
                <a class="btn btn-primary" style="font-size:12px;" href="../assets/component-comps/logos/downloads/products.zip">Download All Product Logos<br/>(.png and .svg file types)</a>
                  </div>

                </div>
              

                <hr/>

                <h3>Co-Branding and Joint Communications</h3>
                <p>Co-Branding is ANY tie to another brand that is public facing. This alliance associates a single product or service with more than one brand name and/or with a person. There are two types:</p>
                <div class="row">
                    <div class="col-md-6">
                      <h4>Joint Communications:</h4>
                      <p>Any communication in which the Blue Cross and/or Blue Shield Brands and a third party’s name or brand appears together. Use Joint Communications to:</p>
                      <ul class="bullets">
                        <li>Align with BCBS marketing and communication efforts (e.g., sponsorships, etc.)</li>
                        <li>Support a business need (e.g., member rewards)</li>
                      </ul>
                      <h5>Logo Requirements:</h5>
                      <ul class="bullets">
                        <li>Must be clear Blue Cross NC and other entity are separate companies</li>
                        <li>For sponsorships, the logo can be anywhere on the piece and any size</li>
                      </ul>
                    </div>
                    <div class="col-md-6">
                      <h4>Co-Branded Communications:</h4>
                      <p>A type of Joint Communication when a third party’s name or brand appears with the BCBS Brands AND the other company is engaging in the marketing, sale or administration of insurance or related services. </p>
                      <ul class="bullets"> 
                        <li>Communication is related to the marketing, sale or administration of BCBS Branded products</li>
                        <li>The other company is acting as a Support Company or Account Vendor, if you are not sure whether your organization falls into one of these category, please email your Blue Cross NC contact.</li>
                      </ul>
                      <h5>Logo Requirements:</h5>
                      <ul class="bullets">
                        <li>Must be clear Blue Cross NC and other entity are separate companies</li>
                        <li>The other entity’s logo cannot be larger than Blue Cross NC’s and must be to the right of the Blue Cross NC brands</li>
                        <li>Appropriate disclosures are required</li>
                      </ul>
                    </div>
                  </div>

                



              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">

          <div class="copyright float-right">
            &copy;
            <script>
              document.write(new Date().getFullYear())
            </script>
          </div>
        </div>
      </footer>
    </div>
  </div>

  <!--   Core JS Files   -->
  <script src="../assets/js/core/jquery.min.js"></script>
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap-material-design.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!-- Plugin for the momentJs  -->
  <script src="../assets/js/plugins/moment.min.js"></script>
  <!--  Plugin for Sweet Alert -->
  <script src="../assets/js/plugins/sweetalert2.js"></script>
  <!-- Forms Validations Plugin -->
  <script src="../assets/js/plugins/jquery.validate.min.js"></script>
  <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
  <script src="../assets/js/plugins/jquery.bootstrap-wizard.js"></script>
  <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
  <script src="../assets/js/plugins/bootstrap-selectpicker.js"></script>
  <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
  <script src="../assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
  <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
  <script src="../assets/js/plugins/jquery.dataTables.min.js"></script>
  <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
  <script src="../assets/js/plugins/bootstrap-tagsinput.js"></script>
  <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
  <script src="../assets/js/plugins/jasny-bootstrap.min.js"></script>
  <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
  <script src="../assets/js/plugins/fullcalendar.min.js"></script>
  <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
  <script src="../assets/js/plugins/jquery-jvectormap.js"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="../assets/js/plugins/nouislider.min.js"></script>
  <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
  <!-- Library for adding dinamically elements -->
  <script src="../assets/js/plugins/arrive.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chartist JS -->
  <script src="../assets/js/plugins/chartist.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/material-dashboard.js?v=2.1.1" type="text/javascript"></script>
  <!-- Material Dashboard DEMO methods, don't include it in your project! -->
  <script src="../assets/demo/demo.js"></script>
  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');

        $sidebar_img_container = $sidebar.find('.sidebar-background');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

        if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
          if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
            $('.fixed-plugin .dropdown').addClass('open');
          }

        }

        $('.fixed-plugin a').click(function(event) {
          // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .active-color span').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-color', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data-color', new_color);
          }
        });

        $('.fixed-plugin .background-color .badge').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('background-color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-background-color', new_color);
          }
        });

        $('.fixed-plugin .img-holder').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).parent('li').siblings().removeClass('active');
          $(this).parent('li').addClass('active');


          var new_image = $(this).find("img").attr('src');

          if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            $sidebar_img_container.fadeOut('fast', function() {
              $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
              $sidebar_img_container.fadeIn('fast');
            });
          }

          if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $full_page_background.fadeOut('fast', function() {
              $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
              $full_page_background.fadeIn('fast');
            });
          }

          if ($('.switch-sidebar-image input:checked').length == 0) {
            var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
          }
        });

        $('.switch-sidebar-image input').change(function() {
          $full_page_background = $('.full-page-background');

          $input = $(this);

          if ($input.is(':checked')) {
            if ($sidebar_img_container.length != 0) {
              $sidebar_img_container.fadeIn('fast');
              $sidebar.attr('data-image', '#');
            }

            if ($full_page_background.length != 0) {
              $full_page_background.fadeIn('fast');
              $full_page.attr('data-image', '#');
            }

            background_image = true;
          } else {
            if ($sidebar_img_container.length != 0) {
              $sidebar.removeAttr('data-image');
              $sidebar_img_container.fadeOut('fast');
            }

            if ($full_page_background.length != 0) {
              $full_page.removeAttr('data-image', '#');
              $full_page_background.fadeOut('fast');
            }

            background_image = false;
          }
        });

        $('.switch-sidebar-mini input').change(function() {
          $body = $('body');

          $input = $(this);

          if (md.misc.sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            md.misc.sidebar_mini_active = false;

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

          } else {

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

            setTimeout(function() {
              $('body').addClass('sidebar-mini');

              md.misc.sidebar_mini_active = true;
            }, 300);
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);

        });
      });
    });
  </script>
</body>

</html>
