/*
|* Blue Cross NC Colors for SASS
*/

$bccolors: (
	/* Reds */ red_base: #bf2e1b,
	red_50: #f7e6e4,
	red_100: #ecc0bb,
	red_200: #df978d,
	red_300: #d26d5f,
	red_400: #c94d3d,
	red_500: #bf2e1b,
	red_600: #b92918,
	red_700: #b12314,
	red_800: #a91d10,
	red_900: #9b1208,
	/* Oranges */ orange_base: #cb632b,
	orange_50: #f9ece6,
	orange_100: #efd0bf,
	orange_200: #e5b195,
	orange_300: #db926b,
	orange_400: #d37a4b,
	orange_500: #cb632b,
	orange_600: #c65b26,
	orange_700: #be5120,
	orange_800: #b8471a,
	orange_900: #ac3510,
	/* Yellows */ yellow_base: #e8b417,
	yellow_50: #fcf6e3,
	yellow_100: #f8e9b9,
	yellow_200: #f4da8b,
	yellow_300: #efcb5d,
	yellow_400: #ebbf3a,
	yellow_500: #e8b417,
	yellow_600: #e5ad14,
	yellow_700: #e2a411,
	yellow_800: #de9c0d,
	yellow_900: #d88c07,
	yellow_950: #bb7806,
	/* Greens */ green_base: #79ad65,
	green_50: #eff5ed,
	green_100: #d7e6d1,
	green_200: #bcd6b2,
	green_300: #a1c683,
	green_400: #8db97c,
	green_500: #79ad65,
	green_600: #71a65d,
	green_700: #669c53,
	green_800: #5c9349,
	green_900: #498337,
	/* Blues */ blue_base: #0e92c7,
	blue_50: #d8f2fc,
	blue_100: #b3e5fa,
	blue_200: #8ed9f7,
	blue_300: #57c7f3,
	blue_400: #20b4ef,
	blue_500: #0e92c7,
	blue_600: #0d85b5,
	blue_700: #0a6a90,
	blue_800: #084f6b,
	blue_900: #053447,
	/* Browns */ brown_base: #5d4e3f,
	brown_50: #eceae8,
	brown_100: #cecac5,
	brown_200: #aea79f,
	brown_300: #8e8379,
	brown_400: #75695c,
	brown_500: #5d4e3f,
	brown_600: #554739,
	brown_700: #4b3d31,
	brown_800: #413529,
	brown_900: #30251b,
	/* Blacks */ black_base: #3b3b3f,
	black_50: #e7e7e8,
	black_100: #c4c4c5,
	black_200: #9d9d9f,
	black_300: #767679,
	black_400: #58585c,
	black_500: #3b3b3f,
	black_600: #353539,
	black_700: #2d2d31,
	black_800: #262629,
	black_900: #19191b,
	/* White */ white_base: #ffffff,
	/* Misc */ navLogo: #232f36,
	navSecondary: #28353d,
	nav: #2f3e47,
	navExpandHover: #394750
);

@each $name, $value in $bccolors {
	.bc-#{$name}--text {
		color: $value !important;
	}

	.bc-#{$name} {
		background-color: $value !important;
	}
}
