$bodyFont: 'UniversLTStd', 'Helvetica', sans-serif;
$lightFont: 'UniversLTStd-Light', 'Helvetica', sans-serif;
$boldFont: 'UniversLTStd-Bold', 'Helvetica', sans-serif;
$headingFont: 'UniversLT-Condensed', 'Helvetica', sans-serif;
$lightHeadingFont: 'UniversLTStd-LightCn', 'Helvetica', sans-serif;
$boldHeadingFont: 'UniversLT-CondensedBold', 'Helvetica', sans-serif;
